*{  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 125vh;
    
}

.card{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
}

img{
    width: 100%;
    border-radius: 10px;
    
}

p{
    font-size: 15px;
}
span{
    font-weight: bold;
}

.time{
    background-color: rgba(255, 105, 180, 0.068);
    padding: 15px;
    border-radius: 10px;
    
}

.time ul{
    margin-left: 20px;
    padding: 5px;
}

.time ul li{
    padding: 5px;
    font-size: 15px
}

.time ul li::marker{
    color: rgb(105, 38, 13);
}

h3{
    color: darkred;
}

h2{
    color: rgb(105, 38, 13);
}

.container{
    padding: 15px;
}

.container ul{
    margin-left: 20px;
    padding: 3px;
}

.container ul li{
    padding: 5px;
    font-size: 15px
}

.container ul li::marker{
    color: rgb(105, 38, 13);
}

.container ol{
    margin-left: 20px;
    padding: 5px;
    
}

.container ol li{
    padding: 5px;
    font-size: 15px

}

.container ol li::marker{
    color: rgb(105, 38, 13);
    font-weight: bold;
}




hr{
    margin: 10px 0;
    border: none;
    height: 2px;
    background-color: rgba(105, 105, 105, 0.322);

}

table{
    width: 100%;
    border-collapse: collapse;
}

table td{
    padding: 10px;
    border-bottom: 1px solid #eee;
}

table td:first-child{
    font-weight: 400;
}

strong{
    color: rgb(105, 38, 13);
}


@media screen and (min-width: 375px) {
    body {
      height: 220vh; /* Para pantallas entre 413px y 700px */
    }
  }
  
  @media screen and (min-width: 701px) {
    body {
      height: 230vh; /* Para pantallas entre 701px y 900px */
    }
  }
  
  @media screen and (min-width: 901px) {
    body {
      height: 260vh; /* Para pantallas entre 901px y 1200px */
    }
  }
  
  @media screen and (min-width: 1201px) {
    body {
      height: 320vh; /* Para pantallas mayores de 1200px */
    }
  }
    